.container-main-change-password-modal {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content-change-password-modal {
  background-color: #fff;
  padding: 1rem;
  width: 90%;
  max-width: 535px;
  height: 90%;
  max-height: 375px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.content-header-change-password-modal {
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1efef;
}

.content-header-change-password-modal > .icon {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
}

.content-form-change-password-modal {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.buttons-form-change-password-modal {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}

.buttons-form-change-password-modal > button {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.buttons-form-change-password-modal > button:nth-child(1) {
  border: 1px solid var(--color-gray);
  color: #000;
}

.buttons-form-change-password-modal > button:nth-child(1):hover {
  box-shadow: 0 0 2px 2px #e2e2e2;
}

.buttons-form-change-password-modal > button:nth-child(2) {
  background-color: var(--color-blue);
  color: #fff;
}

.buttons-form-change-password-modal > button:nth-child(2):hover {
  box-shadow: 0 0 5px 2px #9db8f8;
}

@media screen and (min-width: 1024px) {
  .content-change-password-modal {
    max-height: 350px;
  }
  .content-form-change-password-modal {
    height: 100%;
  }

  .buttons-form-change-password-modal {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: auto;
  }

  .buttons-form-change-password-modal > button {
    padding: 11px 1.3rem;
  }
}
