@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Explorer:wght@400..800&display=swap");

:root {
  --tasa-font: "TASA Explorer", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--tasa-font);
}

/* Reset CSS para botones y inputs */
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

/* MENU */
/* Layout base */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Topbar visible solo en móvil */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.6rem;
  background-color: #fff;
  border-bottom: 1px solid rgb(228, 224, 224);
}

.title {
  font-size: 16px;
  margin: 0;
}

.hamburger {
  font-size: 18px;
  cursor: pointer;
  display: flex;
}

/* Sidebar (mobile default) */
.sidebar {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;

  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.3s ease;
  pointer-events: none;
}

.sidebar.open {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
}

.sidebar-content {
  flex: 1; /* ocupa todo el espacio disponible */
  overflow-y: auto; /* solo esta parte hace scroll */
  padding: 20px;
  width: 100%;
}

/* Header sidebar */
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logo {
  width: 140px;
  height: auto;
  margin-bottom: 10px;
}

.close-btn {
  padding: 10px;
  width: 100%;
  max-width: 300px;
  font-size: clamp(1.1rem, 2vw, 1.3rem);
  font-weight: bold;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
}

.sidebar-content > p {
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  color: #d3d5d8ef;
}

.menu-continer-instructor {
  background-color: #101828;
  padding: 16px 15px;
  margin: auto;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-continer-instructor > .icon {
  display: flex;
  height: auto;
  font-size: 1.4rem;
}

.menu-instructor-info > span {
  font-weight: bold;
  font-size: 20px;
}

.menu-instructor-info > p {
  font-size: 12px;
}

.separator {
  border: none;
  border-top: 1px solid #101828;
  margin: 12px 0;
  width: 100%;
}

/* Menú items */
.menu-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  width: 100%;
  margin-top: 1.1rem;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 15px;
  color: white;
  text-decoration: none;
  width: 100%;
  max-width: 300px;
  background-color: #1e2939;
  border-radius: 10px;
}

.menu-link:hover {
  background: #1e2939;
}

/* Logout al fondo */
.logout {
  padding: 10px;
}

.logout-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 13px 20px;
  border-radius: 10px;
}

.logout-btn:hover {
  background-color: rgb(179, 17, 17);
}

/* Contenido */
.content {
  flex: 1;
  padding: 20px;
}

/* --- Desktop --- */
@media (min-width: 1024px) {
  .layout {
    flex-direction: row;
  }

  .topbar {
    display: none; /* no se muestra en desktop */
  }

  .sidebar {
    position: relative;
    display: flex;
    width: 60px; /* modo compacto */
    transition: width 0.3s ease;
  }

  .sidebar.open {
    width: 220px; /* expandido */
  }

  .sidebar-header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    width: 40px;
  }

  .menu-link .text,
  .logout-btn .text {
    display: none;
  }

  .sidebar.open .menu-link .text,
  .sidebar.open .logout-btn .text {
    display: inline;
  }

  .content {
    flex: 1;
  }
}
